@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white antialiased;
    background-color: #0f172a;
    /* Fallback/Explicit */
    color: white;
  }
}